@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  background-color: #f9f1f0;
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .clip-path-bg {
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
  }
}
